<p>
  <strong>Name:</strong>
  <%= branch.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= branch.address %>
</p>
<p>
  <strong>IFSC_code:</strong>
  <%= branch.IFSC_code %>
</p>
<p>
  <strong>Contact_no:</strong>
  <%= branch.contact_no %>
</p>
<p>
	<%= link_to 'show', branch_path(branch) %>
  <%= link_to 'Destroy branch', [branch], method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_branch_path(branch) %>
</p>