<%= form_for @bank.branches.build do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
    <%= form.hidden_field :bank_id, :value => @bank.id %>
  </p>
  <p>
    <%= form.label :IFSC_code %><br>
    <%= form.text_field :IFSC_code %>
  </p>
  <p>
    <%= form.label :contact_no %><br>
    <%= form.text_field :contact_no %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>