<h1>Listing Branches</h1>
<%= link_to 'New bank', new_bank_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>IFSC_code</th>
    <th>contact_no</th>
    <th colspan="3"></th>
  </tr>
  <% @branches.each do |branch| %>
    <tr>
      <td><%= branch.id %></td>
      <td><%= branch.name %></td>
      <td><%= branch.address %></td>
      <td><%= branch.IFSC_code %></td>
      <td><%= branch.contact_no %></td>
      <td><%= link_to 'Show', branch_path(branch) %></td>
    </tr>
  <% end %>
</table>