<%= form_for @branch.users.build do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :father_name %><br>
    <%= form.text_field :father_name %>
    <%= form.hidden_field :branch_id, :value => @branch.id %>
  </p>
  <p>
    <%= form.label :mother_name %><br>
    <%= form.text_field :mother_name %>
  </p>
  <p>
    <%= form.label :age %><br>
    <%= form.text_field :age %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>
  <p>
    <%= form.label :contact_no %><br>
    <%= form.text_field :contact_no %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>