<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 <p>
  <strong>FatherName:</strong>
  <%= @user.father_name %>
</p>
<p>
  <strong>MotherName:</strong>
  <%= @user.mother_name %>
</p>
<p>
  <strong>age:</strong>
  <%= @user.age %>
</p>
<p>
  <strong>address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>Contact_no:</strong>
  <%= @user.contact_no %>
</p>
<%= link_to 'show', user_path(user) %>
  <%= link_to 'Destroy_user', [user], method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>