<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>
 
<p>
  <strong>Contact_no:</strong>
  <%= @bank.contact_no %>
</p>
<%= render @bank.branches %>
<%= link_to 'Edit', edit_article_path(@bank) %> 
<%= link_to 'Back', articles_path %>