<h1>Listing Loans</h1>
<%= link_to 'New loan', new_loan_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Loan_type</th>
    <th>Amount</th>
    <th>interest</th>
    <th>time_period</th>
    <th colspan="3"></th>
  </tr>
  <% @loans.each do |loan| %>
    <tr>
      <td><%= loan.id %></td>
      <td><%= loan.loan_type %></td>
      <td><%= loan.amount %></td>
      <td><%= loan.interest%></td>
      <td><%= loan.time_period %></td>
      <td><%= link_to 'Show', loan_path(loan) %></td>
    </tr>
  <% end %>
</table>