<p>
  <strong>Loan_type:</strong>
  <%= @loan.Loan_type %>
</p>
 
<p>
  <strong>amount:</strong>
  <%= @loan.amount %>
</p>
<p>
  <strong>interest:</strong>
  <%= @loan.interest %>
</p>
<p>
  <strong>time_period:</strong>
  <%= @loan.time_period %>
</p>
<%= link_to 'show', loan_path(loan) %>
<%= link_to 'Edit', edit_loan_path(@loan) %> 
<%= link_to 'Back', loans_path %>