<h1 >Listing Banks</h1>
 <%= link_to 'New bank', new_bank_path %>
<table>
  <tr>
    <th>Name</th>
    <th>contact_no</th>
    <th></th>
  </tr>
 <tr>
  <% @banks.each do |b| %>
  <td><%= b.name %></td>
      <td><%= b.contact_no %></td>
      <td><%= link_to 'Show', bank_path(b) %></td>
       <td><%= link_to 'Edit', edit_bank_path(b) %></td>
       <td><%= link_to 'Destroy', bank_path(b),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  
</table>

